@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400&display=swap');

body {
  margin: 0;
  font-family: 'Rubik' sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
